{% extends 'layout.html' %}


{% block body %}
{% if error_messages %}
<span class="error_messages">
	{% for error_message in error_messages %}
	{{ error_message }}<br/>
	{% endfor %}
</span>
{% endif %}
    <ul id="people_bar">
    <li class="friend_frame zuser_status">
        {% if current_user or auth_session -%}
        {% if current_user -%}
            <span class="user_email name">{{ current_user.username|e }}</span><br/>
        {%- endif %}
		{% if current_user.profile_image_url %}
		<img src="{{ current_user.profile_image_url }}"><br/>
		
        {% endif %}
		 {#<a class="signout" href="{{ logout_url }}">Sign out</a><br/>#}
        {% endif %}
    </li>
    {% for friend in friends %}
	<li class="friend_frame">
		<span>{{ friend.username }}</span><br/>
		{#  <span>{{ friend.auth_id }}</span> #}
        <img src="{{ friend.profile_image_url }}"/><br/>
	</li>
    {% endfor %}
    </ul>	 
	
	
{% endblock %}

